.ce-paragraph {
    line-height: 1.6em;
    outline: none;
}

.ce-paragraph p:first-of-type {
    margin-top: 0;
}

.ce-paragraph p:last-of-type {
    margin-bottom: 0;
}

.ce-block:first-child .ce-paragraph:empty:before {
    content: attr(data-placeholder-c);
    color: #9aa5ab;
}

.ce-block:first-child .ce-paragraph:empty:focus:before {
    opacity: .3;
}
